body {
    background-image: url("/images/hatter.png");
}

.container{
    width: 70%;
}

#headline{
    background-color: orange;
    font-weight: bold;
    margin-top: 0;
}

#menusor{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: orange;
}

#menu{
    background-color: white;
    font-style: italic;
    color: orange;
    width: 100%;
    text-align: center;
    text-decoration: none;
    height: 50px;
}

.szelso{
    width: 20%;
}

#cim {
    font-weight: bold;
    text-align: center;
    padding: 40px;
    font-size: 350%!important;
}

#grat{
    margin-top: 10px;
    background-color: orange;
    padding: 20px;
}

#bezaras{
    float: right;
}

#homoktovis{
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    background-color: white;
}

#bokor{
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.negyKep{
    margin-top: 10px;
}

.negyKep img{
    width: 100%;
}

.ketbekezdes{
    text-align: justify;
    margin-top: 20px;
}

.ketbekezdes h3{
    background-color: orange;
}


.bekezdesek{
    background-color: white;
}

.pek{
    padding: 10px;
}

.cimek{
    width: 100%;
    padding: 10px;
    background-color: orange;
}

#ellen{
    margin-top: 20px;
}

#info{
    margin-top: 20px;
}

.bekezdescim{
    padding: 10px;
    background-color: orange;
}

.bekezdes{
    padding: 10px;
    background-color: white;
}